<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<meta name="description" content="" />
		<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
		<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/main.css">
		<title>{{page.title}}</title>
		<script type="text/javascript" src="javascripts/main.js"></script>
	</head>
	<body>
		<div id="head_wrap" class="outer">
			 <header class="inner">
			 	<a id="forkme_banner" href="https://github.com/bixuehujin">View on GitHub</a>

				<h1 id="project_title">{{page.title}}</h1>
				<h2 id="project_tagline"></h2>
			 </header>
		</div>

		<div id="main_content_wrap" class="outer">
			<section id="main_content" class="inner">
				{{content}}
			</section>
		</div>
		
		<div id="footer_wrap">
			<footer class="inner">
			<p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
			</footer>
		</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35715181-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
